*, *::before, *::after {
  box-sizing: border-box;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
img {
    width: 100%;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.3);
    z-index: 1;
    background: #fff;
}
.header .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 50px;
}
.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li {
    margin: 0 10px;
}
.menu ul li:hover a {
    color: red;
}
.main {
    margin-top: 70px;
}
.section-01 {
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 50px;
}
.tittle {
    color: #fc0000;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}
.section-01 ul li {
    list-style: disc;
    font-size: 18px;
    color: #61CE70;
    line-height: 1.4;
    margin-bottom: 10px;
}
.button-call {
    background-color: #e91e63;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
}
.button-call a {
    display: inline-block;
    padding: 20px 40px;
    color: #fff;
    width: 100%;
}
.section-02 {
    padding-top: 60px;
}
.box-list {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 30px;
}
.box-list .box {
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}
.box h3 {
    color: #05bf01;
    font-size: 26px;
    font-weight: 400;
    text-decoration: underline;
}
.box ul {
    list-style: disc;
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
}
.box ul li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.6;
}
.section-03 {
    margin-top: 100px;
}
.section-03 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-03 h2 {
    width: 25%;
}
.section-03 ul {
    width: 60%;
}
.section-03 ul li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}
.section-03 ul li img {
    width: 80px;
    margin-right: 30px;
}
.section-03 h3 {
    color: #05bf01;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.section-03 p {
    font-size: 18px;
    line-height: 1.4;
}
.section-04 {
    padding-top: 60px;
    margin-top: 100px;
}
.section-04 .boxs {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 30px;
}
.section-04 .box {
    text-align: center;
    border: 1px dotted #000;
    padding: 60px 50px;
}
.section-04 .box h4 {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
}
.section-04 .box h5 {
    color: red;
    font-size: 16px;
    font-weight: 400;
}
.section-05 {
    margin-top: 100px;
    padding-bottom: 100px;
}
.section-05 .contact ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section-05 h5 {
    font-size: 26px;
    color: red;
    margin-bottom: 15px;
}
.section-05 h6 {
    font-size: 20px;
    color: red;
    margin-bottom: 10px;
}
.section-05 p {
    font-size: 18px;
    line-height: 1.4;
}
@media only screen and (max-width: 767px) {
    .container {
        padding: 0 10px;
    }
    header .container {
        padding: 0;
    }
    .header .header-wrap {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .menu {
        visibility: hidden;
        width: 100%;
        height: 0;
        background-color: #fff;
        transition: height 0.3s;
    }
    .menu.active {
        visibility: visible;
        height: 100px;
    }
    .menu ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 20px;
    }
    .menu ul li {
        font-size: 20px;
    }
    .menu-hamburger.icon {
        position: absolute;
        margin-left: 1.90294px;
        margin-top: 9.2px;
        width: 22px;
        height: 2px;
        background-color: currentColor;
        border-radius: 0.26666666666vw;
    }
      
    .menu-hamburger.icon:before {
        content: '';
        position: absolute;
        top: -7.16px;
        left: 0;
        width: 22px;
        height: 2px;
        background-color: currentColor;
        border-radius: 0.26666666666vw;
    }
      
    .menu-hamburger.icon:after {
        content: '';
        position: absolute;
        top: 7.16px;
        left: 0;
        width: 22px;
        height: 2px;
        background-color: currentColor;
        border-radius: 0.26666666666vw;
    }
    .header_menu {
        display: block;
        width: 42px;
        height: 42px;
        cursor: pointer;
        padding: 9px 10px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 10;
    }
      
    .icon,
    .icon:before,
    .icon:after {
        transition: all 0.4s ease;
    }
    .close.icon {
        color: #fff;
        position: absolute;
        margin-top: -7px;
        margin-left: 0;
        width: 42px;
        height: 42px;
    }
    .close.icon:before {
        content: '';
        position: absolute;
        top: 17.12px;
        left: 1.222px;
        width: 22px;
        height: 2px;
        background-color: currentColor;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-radius: 0.26666666666vw;
    }
    .close.icon:after {
        content: '';
        position: absolute;
        top: 17.12px;
        left: 1.222px;
        width: 22px;
        height: 2px;
        background-color: currentColor;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 0.26666666666vw;
    }
    .box-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .section-03 .container {
        flex-direction: column;
    }
    .section-03 h2,
    .section-03 ul {
        width: 100%;
    }
    .section-04 .boxs {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .section-05 .contact ul {
        flex-direction: column;
    }
    .section-05 .contact ul li {
        margin-bottom: 20px;
    }
}
