html {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
}
.ele_pc {
    display: block!important;
}
.ele_sp {
    display: none!important;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.lazy {
    display: none;
}
.FadeInDelay {
    opacity: 0;
    transform: translateY(40px);
    transition-duration: 2s;
    transition-property: transform, opacity;
}
.FadeIn {
    opacity: 1;
    transform: translate(0, 0);
}
.overflow-hidden {
    overflow: hidden;
}
.flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 126rem;
    margin: 0 auto;
    padding: 0 1rem;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.row::before {
    content: " ";
    display: table;
}
.column {
    float: left;
}
.column-lg-3 {
    width: calc(100% / 3);
}
.slick-dots li button:before {
    font-size: 2rem;
}
.slick-prev {
    left: 1rem;
    z-index: 2;
}
.slick-next {
    right: 3rem;
}
.slick-prev:before, .slick-next:before {
    font-size: 4rem;
}
/***header***/
.header_menu_sp {
    display: none;
}
#section__header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#section__header .header__wrap {
    width: 100%;
    max-width: 124rem;
    margin: 0 auto;
}
#section__header.fixed {
    position: fixed;
    z-index: 9;
}
.header--logo {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.header--logo h1.header__logo--text {
    margin: 0;
}
.header__logo--text a {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: bold;
}
.header__menu__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.free-word-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.free-word-filter input {
    width: 20rem;
    margin-right: 0.3rem;
    border: 1px solid #B7B7B7;
    border-radius: 0.3rem;
    height: 3rem;
    font-size: 1.3rem;
    padding: 1rem;
}
.free-word-filter button {
    width: 3.5rem;
    height: 3rem;
    background-size: contain;
    border: none;
    background-color: #f495bf;
    transition: all 0.5s;
}
.free-word-filter button .fa-solid {
    color: #fff;
}
.free-word-filter button:hover {
    background-color: #df2330;
}
/*** header menu ***/
.main__menu--list {
    padding: 0.5rem 0;
    overflow: hidden;
}
.main__menu--list li.main__menu--item {
    float: left;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.main__menu--list li.main__menu--item {
    opacity: 0.8;
}
.main__menu--list li.main__menu--item:last-child {
    margin-right: 0;
}
.main__menu--list li.main__menu--item.hot {
    background-color: #326e51;
}
.main__menu--list li.main__menu--item.hot a {
    color: #fff;
}
.main__menu__child {
    position: absolute;
    top: 100%;
    background-color: #fff;
    min-width: 20rem;
    max-width: 27rem;
    border: 1px solid #ccc;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.3s;
}
.main__menu__child::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    background: #326e51;
    width: 100%;
    height: 0.3rem;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: transform 0.3s;
    transition-delay: 0.2s;
}
.main__menu--list li.main__menu--item:hover .main__menu__child {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.main__menu--list li.main__menu--item:hover .main__menu__child::before {
    transform: scale(1, 1);
}
.main__menu__child--item {
    padding: 0.5rem 0;
    position: relative;
}
.main__menu__child--item.has__menu__child:after {
    content: ">";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.main__menu__child li a {
    color: #000;
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;
}
.main__menu__child li a:hover {
    text-decoration: underline;
}
.main__menu__child__child {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    min-width: 20rem;
    max-width: 27rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.main__menu--list  .main__menu__child:hover .main__menu__child__child {
    opacity: 1;
    visibility: visible;
}
/***main-page***/
.main__page {
    background-color: #f2f1f6;
    padding-bottom: 10rem;
}
.section__product__slider,
.section__cate {
    margin-top: 5rem;
}
.section__product__slider .ttl {
    background-color: #f495bf;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__product__slider .ttl a{
    color: #c30052;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: bold;
}
.ttl a.btn-more {
    display: inline-block;
    padding: 0.3rem 1rem;
    background-color: #c30052;
    font-size: 1.2rem;
    color: #fff;
    text-transform: capitalize;
    border-radius: 3px;
}
.section__product__wrap {
    box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.featured__item {
    width: calc(100% / 4);
    border: 1px solid #f2f1f6;
    background-color: #fff;
    box-sizing: border-box;
}
.featured__item:hover {
    border: 1px solid #c30052;
}
.featured__box a {
    display: inline-block;
    padding: 1rem;
}
.featured__item .product__figure {
    height: 31rem;
    position: relative;
    overflow: hidden;
}
.featured__item .product__figure img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.featured__item .product__price {
    width: 100%;
    margin-top: 0.5rem;
}
.featured__item .product__price .price-sale {
    color: #ff6600;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4;
}
.featured__item .product__price span.price {
    color: #666;
    text-decoration: line-through;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-left: 1rem;
}
.featured__item .product__price span.deal {
    float: right;
    display: inline-block;
    background: #ff235c;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    padding: 0px 0.5rem;
    border-radius: 2px;
    color: #fff;
}
.featured__item .product__cat {
    color: #326e51;
    font-size: 1.3rem;
    line-height: 1.4;
    margin: 0.5rem 0;
}
.featured__item .product__name p {
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 0.5rem 0;
    text-transform: capitalize;
}
.featured__item .product__name:hover {
    color: #326e51;
}
.section__cate .ttl {
    padding: 1rem;
}
.section__cate .ttl a{
    color: #000;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: bold;
}

/*** category list ***/
.category__list {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem 0;
    grid-template-columns: repeat(6, 16%);
}
.category__list .category__item {
    background: #fff;
    text-align: center;
    position: relative;
    min-height: 16.5rem;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.category__figure {
    position: relative;
    overflow: hidden;
    padding: 1rem;
}
.category__figure img {
    transition: all 0.3s;
}
.category__figure img:hover {
    transform: scale(1.05);
}
.category__cat {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    background: rgba(255,255,255,0.9);
    color: #333;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.3rem;
}
.last__category .category__cat {
    background: rgba(0, 0, 0,0.6);
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/*** breadcrumb ***/
.breadcrumb {
    padding: 1.2rem 2rem 1.2rem 0;
}
.breadcrumb ol, .breadcrumb li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}
.breadcrumb li {
    color: #a7a7a7;
    font-size: 1.5rem;
    line-height: 1.4;
}
.breadcrumb li a {
    color: #a7a7a7;
}
.breadcrumb__list__item {
    display: inline-block;
}
.breadcrumb__list__item + li {
    padding-left: 3.7rem;
}
.breadcrumb__list__item + li::before {
    content: "＞";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.2rem;
    font-size: 1.4rem;
}
/*** single product ***/
.single__product__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.single__product__wrap .ele_left {
    width: 76%;
}
.ele_right {
    width: 22%;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.single__product__wrap .ele_left .head__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem;
}
.box-shadow {
    box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #fff;
}
.product__media {
    width: 40%;
}
.product__media__slider .slick-slide.item {
    height: 40rem;
}
.product__media__slider .slick-slide img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slick-dots {
    margin-top: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.product__media__slider .slick-dots li {
    list-style: none;
    display: inline-block;
    width: 30%;
    min-height: 6rem;
    margin: 0.5rem;
    position: relative;
}
.slick-dots li.slick-active img {
    opacity: 1;
}
.slick-dots li img {
    opacity: 0.5;
    width: 80%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product__info {
    width: 57%;
}
.product__info__name .product__name h5 {
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 1rem;
}
.product__info__name .group-status {
    font-size: 1.5rem;
    line-height: 1.4;
}
.status_name {
    color: #c30052;
}
.product__info__name .price-box {
    position: relative;
    margin: 15px 0 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #F0F1F2;
    border-bottom: 1px solid #F0F1F2;
    margin: 1rem 0;
    padding: 1rem 0;
    column-gap: 0.4rem;
}
.product__info__name .product-price {
    font-size: 3rem;
    color: #c30052;
    font-weight: 500;
    line-height: 1.4;
    font-family: inherit;
}
.save-price {
    font-size: 1.5rem;
    width: 100%;
}
.product-price-old {
    color: #979797 !important;
    margin-left: 0.6rem;
    font-size: 1.5rem;
    font-weight: normal;
}
.product__info__name .label_product {
    border-radius: 9999px;
    background: #f495bf;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    font-weight: 500;
    margin-left: 0.6rem;
}
.save-price span {
    color: #c30052;
}
ul.product-policises {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 0.5px dashed #A0A0A0;
    padding: 1.5rem 2rem;
    border-radius: 0.8rem;
    margin-top: 1.5rem;
}
.product-policises .media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.product-policises .media:nth-child(4),
.product-policises .media:nth-child(3) {
    margin-top: 1.5rem;
}
.product-policises .icon {
    margin-right: 1rem;
}
.product-policises .icon .fa-solid {
    font-size: 3.2rem;
    color: #c30052;
}
.product-policises .media-body {
    font-size: 1.4rem;
}
.product-policises .media > div:not(.media-body) {
    width: 3.2rem;
    height: 3.2rem;
}
.block_timer_deal_detail .title_deal_brand {
    background-color: #ff8a44;
    background-image: linear-gradient(to right, #ff8a44 , #ff6602);
    color: #fff;
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: bold;
    margin: 1rem 0;
}
.lienhe .col-inner {
    border: 2px solid #00a400;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    line-height: 1.4;
    text-align: center;
    margin-top: 2rem;
}
.lienhe .lienhe-phone {
    color: #c30052;
    font-size: 2rem;
}
.mess a {
    display: inline-block;
    overflow: hidden;
    clear: both;
    width: 100%;
    background: #df2330;
    text-align: center;
    color: white;
    border-radius: 0.7rem;
    margin-top: 1.5rem;
    padding: 2rem;
    font-size: 2.4rem;
    line-height: 1.4;
    max-width: 100%;
    margin-top: 1.5rem;
}
.main_info_details {
    margin-top: 2rem;
    padding: 2.5rem 2rem;
}
.details_ttl {
    background-color: #fff;
    color: #c30052;
    display: block;
    padding: 0.7rem 0 0.6rem;
    border-bottom: 0.5rem solid #c30052;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}
.cos_line_text {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.4;
}
.cos_line_ttl {
    margin-bottom: 2.5rem;
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}
.cos_line_img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}
.cos_line_img-50 {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
/* .cos_line_img-50 img {
    width: 50%;
} */
.cos_list {
    list-style: decimal;
    padding-left: 2rem;
}
.cos_list li.cos_list_item,
.cos_list_02 li.cos_list_item {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    line-height: 1.4;
}
.cos_list_02 {
    list-style: initial;
    margin-top: 1rem;
    padding-left: 2rem;
}
.cos__table__01 table {
    width: 100%;
    margin-bottom: 2rem;
}
.cos__table__01 td {
    font-size: 1.5rem;
    border: 1px solid #000;
    padding: 1rem;
    vertical-align: middle;
}
#single-product .featured__item {
    width: 100%;
    border: none;
}
#single-product .featured__item .product__figure {
    height: auto;
}
#single-product .featured__item .product__figure img {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
}

/*** category product page ***/
#category_product .category_product_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.gioithieu_vijully {
    padding: 2rem 0.5rem;
}
.gioithieu_vijully .gioithieu_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.gioithieu_vijully .gioithieu_image {
    width: 48%;
}
.gioithieu_vijully .gioithieu_txt {
    width: 48%;
    font-size: 2rem;
    line-height: 1.4;
}
.style_ttl_01 h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 2rem;
    align-items: center;
    margin: 2rem 0;
  }
.style_ttl_01 h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c30052;
    border-top: 1px solid #c30052;
    height: 0.5rem;
    background-color: #f8f8f8;
}
.style_ttl_01 h2:after {
    content: " ";
    display: block;
    border-bottom: 1px solid #c30052;
    border-top: 1px solid #c30052;
    height: 0.5rem;
    background-color: #f8f8f8;
}
.img_leaf_deco {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_leaf_deco i.fa-brands {
    color: green;
    font-size: 5rem;
}
.img_leaf_deco i.fa-brands:last-child {
    transform: rotateY(180deg);
    margin-left: 1rem;
}
.vijully_product {
    padding: 2rem 0.5rem;
    margin-top: 5rem;
}
.vijully_product_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.vijully_product_image {
    width: 50%;
    position: relative;
}
.vijully_product_txt {
    width: 50%;
}
.vijully_product .vijully_product_txt {
    font-size: 2rem;
    line-height: 1.4;
    padding: 0 3rem;
}

/*** footer ***/
#button-top {
    max-width: 7rem;
    display: block;
    position: fixed;
    padding: 2rem;
    border-radius: 999px;
    right: 2%;
    bottom: 10rem;
    cursor: pointer;
    z-index: 8;
    background-color: #f495bf;
}
#button-top a {
    width: 100%;
}
#button-top .fa-solid {
    color: #fff;
    font-size: 2rem;
}
footer {
    border-top: 3px solid #c30052;
}
.footer-wrap {
    margin: 3rem 0;
    overflow: hidden;
}
.footer__ttl h4 {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.support__list li.support__list__item {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 1rem;
}
.support__list li.support__list__item a:hover {
    text-decoration: underline;
}
.social_element {
    margin-top: 1rem;
}
.social_element .fa-brands {
    font-size: 3rem;
}
.social_element a.social_item + a.social_item {
    margin-left: 1rem;
}
.social_element a.social_item {
    display: inline-block;
    padding: 1rem;
    background-color: #f495bf;
    border-radius: 1.5rem;
}
.social_element a.social_item .fa-brands {
    color: #fff;
}
.footer-top {
    overflow: hidden;
}
.footer-bottom {
    font-size: 1.5rem;
    margin-top: 2rem;
}

/***pagination***/
.pagination_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4rem;
}
.pagination_list li {
    font-size: 1.5rem;
    margin-right: 1rem;
    background-color: #f495bf;
}
.pagination_list li a {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    color: #fff;
}

/***news***/
.news__wrap {
    padding: 2rem 1rem;
}
.news__category {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.news__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 49%;
    margin-bottom: 2rem;
}
.news__item .new__image {
    width: 45%;
    padding: 0 1rem;
    height: 14.5rem;
    position: relative;
    overflow: hidden;
}
.news__item .new__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.news__item .news__info {
    width: 55%;
    padding: 0 1rem;
}
.news_ttl h5 a {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: bold;
    color: #c30052;
    text-transform: uppercase;
}
.style_ttl_02 {
    margin-bottom: 2rem;
}
.style_ttl_02 h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.4;
    color: #c30052;
    position: relative;
    padding-bottom: 0.6rem;
    display: inline-block;
    overflow: hidden;
    padding-top: 0.8rem;
    text-transform: uppercase;
}
.style_ttl_02 h2::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #df2330;
    position: absolute;
    left: 3px;
    bottom: 0;
}
.style_ttl_02 h2::after {
    content: "";
    display: block;
    width: 230px;
    height: 2px;
    background: #f495bf;
    position: absolute;
    left: 68px;
    bottom: 0;
}
.style_ttl_03 h6 {
    position: relative;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.style_ttl_03 h6:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 0.3rem;
    content: "";
    background-color: #c30052;
}

/*** support page ***/
.support__main__page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.support__main__page .ele_left {
    width: 30%;
    padding: 1rem;
}
.support__main__page .ele_right {
    width: 69%;
    padding: 1rem;
}
.support__main__page .support_list li {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 1rem;
}
/*** search page ***/
.search__main__page,
.category__main__page {
    padding: 1rem;
}
#search_product .search_product_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

/***Vijully***/

.vijully__animation {
    position: relative;
    overflow: hidden;
    min-height: 800px;
    padding: 4rem 0;
    z-index: 3;
}
.juice {
    position: absolute;
    top: 50%!important;
    left: 50%!important;
    z-index: 1;
}
  
.juice img {
    animation: float 4s ease-in-out infinite;
    max-height: 600px;
}

@keyframes float {
    0% {
        transform: translate(-50%, -46%);
    }
    50% {
        transform: translate(-50%, -54%);
    }
    100% {
        transform: translate(-50%, -46%);
    }
}

.leaves {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.leaves img {
    max-width: 100%;
    max-height: 100%;
}

.leaves .layer:nth-child(1) {
    top: -10rem !important;
    left: -48rem !important;
}

.leaves .layer:nth-child(2) {
    top: 1rem !important;
    left: 16rem !important;
}

.leaves .layer:nth-child(3) {
    top: -30rem !important;
    left: 16rem !important;
}

.leaves .layer:nth-child(4) {
    top: -1rem !important;
    left: 32rem !important;
}

.leaves .layer:nth-child(5) {
    top: 20rem !important;
    left: -32rem !important;
}
@media only screen and (max-width: 750px) {
    .ele_sp {
        display: block!important;
    }
    .ele_pc {
        display: none!important;
    }
    html {
        /* font-size: calc(100vw / 75) */
    }
    .cos_line_ttl {
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }
    .cos_line_text {
        margin-bottom: 0.5rem;
    }
    .cos_line_img-50 {
        width: 100%;
    }
    /*** header ***/
    .header--link {
        text-align: center;
    }
    .header--logo {
        padding: 0.5rem 0;
    }
    .header--logo h1 {
        margin: 0;
    }
    .header__logo--text a {
        font-size: 2rem;
        letter-spacing: -0.2rem;
    }
    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 17.7vw;
        transform: translateX(-100vw);
        transition: transform 0.4s ease-in-out;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        background: #f495bf;
        z-index: 999;
        overflow: auto;
    }
    .header__menu.open {
        transform: translateX(0vw);
    }
    .header_menu_sp {
        display: block;
        width: 6.66666666667vw;
        height: 4.26666666667vw;
        margin-top: 1vw;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 1%;
        transform: translateY(-50%);
    }
    .icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after {
        transition: all 0.4s ease;
    }
    .icon {
        color: #c30052;
    }
    .menu.icon {
        color: #c30052;
        position: absolute;
        margin-left: 0.26666666666vw;
        margin-top: 1.33333333333vw;
        width: 6.66666666667vw;
        height: 0.53333333333vw;
        background-color: currentColor;
        border-radius: 0.26666666666vw;
    }
    .menu.icon:before {
        content: '';
        position: absolute;
        top: -2.13333333333vw;
        left: 0;
        width: 6.66666666667vw;
        height: 0.53333333333vw;
        background-color: currentColor;
        border-radius: 0.26666666666vw;
    }
    .menu.icon:after {
        content: '';
        position: absolute;
        top: 2.13333333333vw;
        left: 0;
        width: 6.66666666667vw;
        height: 0.53333333333vw;
        background-color: currentColor;
        border-radius: 0.26666666666vw;
    }
    .close.icon:before {
        content: '';
        position: absolute;
        top: 1vw;
        width: 6.93333333333vw;
        height: 0.53333333333vw;
        background-color: currentColor;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-radius: 0.26666666666vw;
    }
    .close.icon:after {
        content: '';
        position: absolute;
        top: 1vw;
        width: 6.93333333333vw;
        height: 0.53333333333vw;
        background-color: currentColor;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 0.26666666666vw;
    }
    .header__menu .main__menu--list > li {
        position: relative;
        width: 100%;
        text-align: left;
        padding: 0rem;
    }
    .header__menu .main__menu--list .dropdown {
        position: relative;
        cursor: pointer;
        transition: transform 0.4s ease-in-out;
    }
    .header__menu .main__menu--list > li:not(.disable)::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        height: 0.20833333333vw;
        background: #f495bf;
        width: 0;
        transition: width 0.3s ease-in-out;
    }
    .header__menu .main__menu--list a::before, 
    .header__menu .main__menu--list .dropdown::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
    }
    .header__menu .main__menu--list .dropdown::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 2.8vw;
        transform: translateY(-50%);
        width: 5.46666666667vw;
        height: 5.33333333333vw;
        background: url(./../images/common/icon-toggle.png) no-repeat;
        background-size: contain;
        transition: transform 0.4s ease-in-out;
    }
    .main__menu--list {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .main__menu--list li.main__menu--item .main__menu--link {
        color: #000;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        padding: 1rem 0 1rem 1rem;
    }
    .main__menu--list li.main__menu--item:hover .main__menu__child {
        opacity: 1;
        visibility: visible;
    }
    .main__menu--list li.main__menu--item .main__menu__child {
        opacity: 1;
        visibility: visible;
        position: relative;
        top: unset;
        background-color: #fff;
        min-width: unset;
        max-width: unset;
        border: 1px solid #ccc;
        z-index: 9;
        transition: unset;
        transform: translateY(0);
    }
    .main__menu--list > li:focus .main__menu__child, 
    .main__menu--list > li:hover .main__menu__child, 
    .main__menu--list .main__menu__child {
        display: none;
    }
    .header__menu__wrap {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .formFilter {
        margin-top: 2rem;
    }
    .free-word-filter button {
        background-color: #c30052;
    }
    /*** main page ***/
    .featured__item {
        height: 36rem;
        margin-bottom: 1.5rem;
    }
    .featured__item .product__figure {
        height: 24rem;
    }
    .category__list {
        grid-template-columns: repeat(3, 31.4%);
    }
    .category__list .category__item {
        min-height: 12.5rem;
    }
    /*** footer ***/
    .column.column-lg-3:first-child {
        margin-top: 0;
    }
    .column.column-lg-3 {
        width: 100%;
        margin-top: 2rem;
    }
    .social_element a.social_item {
        padding: 0.5rem;
        border-radius: 1rem;
    }
    .social_element .fa-brands {
        font-size: 2rem;
    }
    .social_element a.social_item + a.social_item {
        margin-left: 0.5rem;
    }
    .support__list li.support__list__item a {
        font-size: 1.7rem;
    }
    /*** single product ***/
    .single__product__wrap .ele_right {
        width: 100%;
        display: none;
    } 
    .single__product__wrap,
    .single__product__wrap .ele_left .head__details {
        flex-direction: column;
    }
    .product__media,
    .product__info,
    .single__product__wrap .ele_left {
        width: 100%;
    }
    .product__info {
        margin-top: 1rem;
    }
    ul.product-policises {
        padding: 1rem;
    }
    .mess a {
        font-size: 1.8rem;
    }
    .style_ttl_01 h2 {
        font-size: 2rem;
        letter-spacing: 0;
    }
    .gioithieu_vijully .gioithieu_wrap {
        flex-direction: column;
    }
    .gioithieu_vijully .gioithieu_image,
    .gioithieu_vijully .gioithieu_txt {
        width: 100%;
    }
    .gioithieu_vijully .gioithieu_txt {
        font-size: 2rem;
        line-height: 1.4;
        margin-top: 2rem;
    }
    .img_leaf_deco i.fa-brands {
        font-size: 3rem;
    }
    .vijully_product_wrap {
        flex-direction: column-reverse;
    }
    .vijully_product_image {
        width: 100%;
        margin-top: 2rem;
    }
    .vijully_product .vijully_product_txt {
        width: 100%;
        padding: 0;
    }
    .vijully_product .vijully_product_txt h6 {
        font-size: 2.2rem;
        text-align: center;
    }
    .vijully_product .vijully_product_txt h6:before {
        left: 50%;
        transform: translateX(-50%);
    }
    /***category product page***/
    #category_product .category_product_list .featured__item {
        width: 50%;
    }
    /***news***/
    .news__item,
    .news__item .new__image,
    .news__item .news__info {
        width: 100%;
        padding: 0;
    }
    .new__image {
        margin-bottom: 1rem;
    }
    .news__item {
        flex-direction: column;
    }
    /*** support page ***/
    .support__main__page {
        flex-direction: column;
    }
    .support__main__page .ele_left {
        display: none;
        width: 100%;
    }
    .support__main__page .ele_right {
        width: 100%;
    }
    .support__main__page .support_list li {
        font-size: 1.5rem;
        line-height: 1.4;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    /*** search page ***/
    #search_product .search_product_list .featured__item {
        width: 50%;
    }
    #button-top {
        bottom: 2rem;
        padding: 1rem;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 1.5rem;
    }
    
    /*** Vijully ***/
    .vijully__animation {
        min-height: 500px;
        padding: 4rem 0;
    }
    #scene li.layer:nth-child(1) img {
        width: 7.2rem;
    }
    #scene li.layer:nth-child(2) img {
        width: 7.9rem;
    }
    #scene li.layer:nth-child(3) img {
        width: 6.3rem;
    }
    #scene li.layer:nth-child(4) img {
        width: 3rem;
    }
    #scene li.layer:nth-child(5) img {
        width: 6.9rem;
    }
    .leaves .layer:nth-child(1) {
        top: -10rem !important;
        left: -15rem !important;
    }
    .leaves .layer:nth-child(2) {
        top: 3rem !important;
        left: 8rem !important;
    }
    .leaves .layer:nth-child(3) {
        top: -11rem !important;
        left: 8rem !important;
    }
    .leaves .layer:nth-child(4) {
        top: -4rem !important;
        left: 14rem !important;
    }
    .leaves .layer:nth-child(5) {
        top: 14rem !important;
        left: -15rem !important;
    }
}






