*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img {
    width: 100%;
}

body{
    font-family: sans-serif;
    background-color: #c1c1c1;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header + .container {
    padding: 100px 0;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #585451;
}
header h1 a {
    text-decoration: none;
    color: #fff;
}
.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.album {
    width: 30%;
    margin-bottom: 20px;
}
.album a {
    display: inline-block;
    width: 100%;
    transition: all 0.4s;
    text-decoration: none;
    color: purple;
    font-size: 20px;
}
.album a:hover {
    transform: scale(1.05);
}
.album p {
    text-align: center;
}
.player-container{
    width: 450px;
    border-radius: 15px;
    background: #585451;
    padding: 30px;
    overflow: hidden;
    color: #fff;
    margin: 0 auto;
}
.name,
.artist{
    text-align: center;
    text-transform: capitalize;
}
.name{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #eab308;
}
.artist{
    font-size: 15px;
}
.box-disk{
    width: 90%;
    height: 280px;
    position: relative;
    display: block;
    margin: 40px auto;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
    box-shadow: 0 0 0 3px #eab308;
    background-position: center center;
}
.box-disk.play{
    animation-play-state: running;
}
.music-slider{
    width: 100%;
    float: left;
    position: relative;
}
.time-bar{
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #ccc;
    cursor: pointer;
    overflow: hidden;   
}
.time-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    background: forestgreen;
    box-shadow: -400px 0 0 400px royalblue;
}
.current-time,
.music-time{
    font-size: 12px;
}
.music-time{
    position: absolute;
    float: left;
    right: 0;
}
.controls{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}
.btn-play{
    position: relative;
    width: 50px;
    height: 50px;
    background: #eab308;
    cursor: pointer;
    border: none;
}
.btn-play span{
    position: absolute;
    top:50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: beige;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: .5s;
}
.btn-play span:nth-child(2){
    left: 55%;
    transform-origin: center;
}
.btn-play.pause span:nth-child(2){
    transform:translateY(-50%) scaleY(0);
}
.btn-play.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform:translate(-50%,-50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.btn{
    width: 40px;
    height: 40px;
    background: #eab308;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.list-song {
    margin-top: 20px;
}
.song {
    margin-bottom: 5px;
}
.song.active {
    color: #eab308;
}
.song:hover {
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (max-width: 767px) {
    .container {
        width: 95%;
    }
    .albums {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .album {
        width: 100%;
    }
    .player-container {
        width: 100%;
        padding: 20px 10px;
    }
    .name {
        font-size: 20px;
    }
  }

